{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> :: Мои заметки :: </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <style>
            body { background: #F5F5F5 }
        </style>
    </head>
    <body>
        <div class="wrap">
            <div class="left_title"><h1>Мои заметки</h1></div>
        </div>
        <div class="notes-area">
        {% for note in notes %}
        <div class="note">
            <h2 align="center" class="header">{{ note.title }}</h2>
            <p class="content">{{ note.content }}</p>
            <p class="dateadded">{{ note.published|date:"d.m.Y H:i:s" }}</p>
        </div>
        {% endfor %}
        <div class="note form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Добавить">
            </form>
        </div>
        </div>
        <script type="text/javascript">
            console.log("SCRIPT",)
            document.querySelector("textarea").setAttribute("rows","5");
        </script>
    </body>
</html>
